.Rocket-details-card {
    width: 13rem;
    padding: 20px 10px;
    margin-bottom: 15px;
    min-height: 430px;
}

.Rocket-image {
    background-color: #F2F2F2;
    display: block;
    width: 208px;
    height: 208px;
    margin-bottom: 20px;
}

.Rocket-name-flight-number {
    color: #63659f;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 1rem;
    height: 38px;
}

.Rocket-detail-label {
    color: #181818;
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0 0;
}

.Rocket-detail-value {
    color: #63659f;
    font-weight: 400;
    margin-left: 5px;
}


