.App-Loader-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-Loader-box {
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.App-Header {
    display: flex;
    flex-direction: column;
    font-size: calc(22px + 2vmin);
    color: #0A0A0A;
    padding: 20px 15px;
}

.App-Filter-heading {
    text-align: center !important;
    margin-top: 1rem;
}

.App-Filter-button-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
}

.App-Card-container {
    background-color: #fff;
    padding: 10px;
}

.App-Hr {
    width: 80%;
}

.App-filter-button {
    flex: 0 1 40%;
    margin: 10px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.App-filter-button[variant="success"] {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.App-filter-button[variant="outline-success"] {
    color: #28a745;
    border-color: #28a745;
    background-color: #e5f4e8;
}


.App-NoRecord {
    width: 100%;
    text-align: center;
    line-height: 50px;
}

.App-Footer-Note {
    text-align: center;
    margin: 40px 0 20px;
}

